<mat-card class="cardWithShadow">
  <mat-card-content class="p-b-8">
    <mat-card-title>Top Projects</mat-card-title>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100 top-performing-products-table">
        <!-- Profile Column -->
        <ng-container matColumnDef="Project">
          <th mat-header-cell *matHeaderCellDef class="p-l-0 text-muted">
            Project
          </th>
          <td *matCellDef="let element" class="p-l-0">
            <h6 class="f-s-14">
              {{ element.project }}
            </h6>
          </td>
        </ng-container>

        <!-- Hour Rate Column -->
        <ng-container matColumnDef="Assigned">
          <th mat-header-cell *matHeaderCellDef class="text-muted">
            Assigned
          </th>
          <td *matCellDef="let element">
            <div class="hstack gap-8">
              <img class="icon-32 rounded-circle" [src]="element.imagePath" alt="users" />
              <div>
                <h6 class="f-s-14">
                  {{ element.title }}
                </h6>
                <span class="f-s-14 text-muted">
                  {{ element.subtitle }}
                </span>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Timeline">
          <th mat-header-cell *matHeaderCellDef class="text-muted">
            Timeline
          </th>
          <td class="" *matCellDef="let element">
            <p class="f-s-14 m-0">{{ element.timeline }}</p>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Budget">
          <th mat-header-cell *matHeaderCellDef class="text-muted">
            Budget
          </th>
          <td class="" *matCellDef="let element">
            <p class="f-s-14 m-0">{{ element.budget }}</p>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef class="text-muted text-right">
            Status
          </th>
          <td *matCellDef="let element" class="text-right">
            <span class="{{ element.bgcolor }} f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill">
              {{ element.category | titlecase }}
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>